.body-style {
  background: "#f8f8f8f8";
  height: "100vh";
}
.almarai-light {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.almarai-regular {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.almarai-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.rectangle {
  height: fit-content;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.25);
}
.p {
  display: flex;
  justify-content: space-between;
}
.img-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
